body {
    padding: 15px;
}

.navbar {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    padding: 30px 30px 20px 30px;
    margin: 20px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

@media screen and (max-width: 576px) {
    .main {
        padding: 20px 15px 10px 15px;
        margin: 15px 10px 15px 10px;
    }
}

.links-right {
    margin-left: auto;
}

.nav-link:hover {
    color: #0d6efd !important;
}

.card-item {
    width: 300px;
    padding: 10px;
    margin: 10px
}

.learn-nav {
    border-right: 1px solid #ddd;
    width: 250px;
    overflow-x: auto;
    padding: 0px;
}

.learn-content {
    padding: 15px 30px 15px 30px;
    word-wrap: break-word;
    overflow-x: auto;
}

.learn-label {
    display: block;
}

@media screen and (max-width: 768px) {
    .learn-nav {
        border-right: none;
        width: 100%;
        overflow-x: auto;
    }

    .learn-label {
        display: inline;
    }
}

.question-content-panel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:root {
    --money: rgb(226,182,20);
    --money-o: rgb(226,182,20,0.5);
}

.card {
    margin: 5px;
    width: 200px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(255, 200, 0, 0.4);
    border: 5px solid var(--money);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: transform, background-color, border-color, color;
    container-type: inline-size;
}

.card:hover {
    background-color: rgb(255, 255, 0, 0.75);
    border-color: rgba(255, 200, 0, 0.4);
    color:black;
    transform: translateY(-10px);
}

.card-img-top {
    font-size: 100cqw;
    display: block;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.home-card i {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.home-card h4 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}

[data-bs-theme="dark"] {
    --bs-box-shadow: 0 0.5rem 1rem rgba(255, 200, 67, 0.3);
}

.glowing-text {
    color: var(--money);
    animation: hueRotate 3s linear infinite;
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg) saturate(1.5) brightness(1.2);
    }
    100% {
        filter: hue-rotate(360deg) saturate(1.5) brightness(1.2);
    }
}