body {
    padding: 15px;
}

.navbar {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    padding: 30px 30px 20px 30px;
    margin: 20px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

@media screen and (max-width: 576px) {
    .main {
        padding: 20px 15px 10px 15px;
        margin: 15px 10px 15px 10px;
    }
}

.links-right {
    margin-left: auto;
}

.nav-link:hover {
    color: #0d6efd !important;
}

.card-item {
    width: 300px;
    padding: 10px;
    margin: 10px
}

.learn-nav {
    border-right: 1px solid #ddd;
    width: 250px;
    overflow-x: auto;
}

.learn-content {
    padding: 15px 30px 15px 30px;
    word-wrap: break-word;
    overflow-x: auto;
}

table, th, td {
  border:1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}