<p>I've paused progress on this section of the website as I am now focusing on adding the more basic features.</p>
<div id="cards" style="display: flex; flex-wrap: wrap;">
    {{#each games}}
        <div class="card card-item row">
            <p>Host: {{this.host}}</p>
            <p>Open: {{this.open}}</p>
            {{#if this.open}}
            <button onclick="join('{{this.token}}');" class="btn btn-primary">Join</button>
            {{else}}
            <button onclick="closedGame('{{this.token}}');" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joinModal">
                Join
            </button>
            {{/if}}
        </div>
    {{/each}}
</div>

<div class="modal fade" id="joinModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Join game</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <p>This game is not open. Please enter the password to join.</p>
            <input type="password" class="form-control" id="joinPassword" name="joinPassword" required>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="join(gameToken);">Join</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Game</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <input class="form-check-input" type="checkbox" name="newGameOpen" id="newGameOpen">
            <label class="form-check-label" for="newGameOpen">Open</label>
            <br><br>
            <label class="form-check-label" for="newGamePassword">Password</label>
            <input type="password" class="form-control" id="newGamePassword" name="newGamePassword">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" onclick="newgame()" data-bs-dismiss="modal" onclick="deleteLesson();">Create</button>
        </div>
        </div>
    </div>
</div>
<br>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newModal">
    New game
</button>
<br>
<br>
<div id="alertText" class="alert" role="alert" style="display: none;"></div>
<script src="/scripts/newgame.js"></script>
<script src="/scripts/joingame.js"></script>
<script>
async function loadgames() {
    try {
        const response = await fetch("/api/games/view", {
            method: "GET"
        });
        const responseData = await response.json();
        if (responseData.success) {
            const games = responseData.data;
            for (let i = 0; i < games.length; i++) {
                document.getElementById("cards").innerHTML += `
                    <div class="card card-item row">
                        <p>Host: ${games[i].host}</p>
                        <p>Open: ${games[i].open}</p>
                        <button onclick="joingame('${games[i].token}');" class="btn btn-primary">Join</button>
                    </div>
                `;
            }
        } else {
            alertText("Error: " + responseData.message);
        }
    } catch (error) {
        alertText("Error: an unexpected error occurred");
    }
}
// loadgames();
</script>