<form id="signupForm">
    <label for="username">Username *</label><br>
    <input type="text" id="username" name="username"><br>
    <br>
    <label for="password">Password *</label><br>
    <input type="password" id="password" name="password"><br>
    <br>
    <label for="password_repeat">Repeat password *</label><br>
    <input type="password" id="password_repeat" name="password_repeat"><br>
    <br>
    <label for="name">Name (optional)</label><br>
    <input type="name" id="name" name="name"><br>
    <br>
    <label for="email">Email (optional)</label><br>
    <input type="email" id="email" name="email"><br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<p id="errorText" style="display: none;"></p>
<script src="/scripts/signup.js"></script>