<h3>{{username}}</h3>
<br>
<p><b>Assets</b></p>
<div id="cards" style="display: flex; flex-wrap: wrap;">
    {{#each assets}}
    <div class="card" style="width: 150px; padding: 10px; margin: 10px;">
        <img src="/assets/currencies/{{lookup this 0}}.png" class="card-img-top" alt="currency">
        <div class="card-body">
            <h5 class="card-title">{{lookup this 0}}</h5>
            <p class="card-text">{{lookup this 1}}</p>
        </div>
    </div>
    {{/each}}
</div>
<br>
<p><b>Details</b></p>
<p>Email: {{user_details.email}}</p>
<p>Name: {{user_details.name}}</p>
<p>Joined: {{user_details.created_at}}</p>
<p>About me: {{user_details.about_me}}</p>
<br>
{{#if isOwner}}
<button onclick="signout()" class="btn btn-primary">Sign out</button>
<br>
<br>
{{/if}}
<script src="/scripts/signout.js"></script>