<!DOCTYPE html>
<html>
<head>
    <title>Exhibition</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
</head>
<body>
    <nav>
        <h1>Exhibition</h1>
        <p>Navigation:</p>
        <a href="/">[ Home ]</a>
        <a href="/signup">[ Sign Up ]</a>
        <a href="/about">[ About ]</a>
    </nav>

    <div class="main" style="border: 2px solid black; padding: 20px; margin: 20px 10px 20px 10px;">
        {{{body}}}
    </div>
    <footer>
        <p>Made by students at BBI</p>
    </footer>
</body>
</html>