<!DOCTYPE html>
<html>
<head>
    <title>Exhibition</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
</head>
<body>
    <nav>
        <h1>Exhibition</h1>
        <p>Navigation:</p>
        <a href="/">[ Home ]</a>
        <a href="/signup">[ Sign Up ]</a>
        <a href="/about">[ About ]</a>
    </nav>

    <div class="main" style="border: 2px solid black; padding: 30px 30px 20px 30px; margin: 20px">
        {{{body}}}
    </div>
    <footer>
        <p>Made by students at BBI</p>
    </footer>
</body>
</html>